body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.logo {
  width: 100%;
  max-width: 1189px;
  margin: 0px auto 5px;
  text-align: center;
}

.frase_cabecera {
  text-align: left;
  display: inline-block;
  float: left;
  font-family: 'Marck Script', cursive;
  font-style: italic;
  margin-top: 1%;
  margin-bottom: -1%;
  font-size: 19px;
}

.subscripcion_cabecera {
  text-align: right;
  display: inline-block;
  float: right;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: italic;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a {
  color: #13B09B;
}

.btn.btn-sm, .btn-group-sm .btn, .navbar .navbar-nav > li > a.btn.btn-sm, .btn-group-sm .navbar .navbar-nav > li > a.btn {
  padding: 5px 20px;
  font-size: 11px;
}

.btn, .navbar .navbar-nav > li > a.btn {
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 12px 30px;
  margin: 10px 1px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.suscribete_boton {
  color: #fff;
  background: #13b09b;
}

.subscripcion_cabecera .change_english:hover {
  background: #fff;
  color: #D543F9;
}

.suscribete_boton:hover {
  background: #13B09B;
  color: #13B09B;
  background: #fff;
}

.subscripcion_cabecera .change_english {
  background: #D543F9;
}

.subscripcion_cabecera button:hover {
  cursor: pointer;
}

.subscripcion_cabecera button:hover {
  cursor: pointer;
}

.facebook_cabecera:hover {
  background-color: #fff;
  color: #007bff;
}

.btn:not(.btn-just-icon):not(.btn-fab) .fab, .navbar .navbar-nav > li > a.btn:not(.btn-just-icon):not(.btn-fab) .fa {
  font-size: 18px;
  margin-top: -2px;
  position: relative;
  top: 2px;
}

.franja_verde {
  background: #13B09B;
  height: 20px;
}
